CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
chord
gen
tags
build
.idea
.tags
.gdb_history
.gitconfig
externals/
test_data/
.ccls-cache
.cache
compile_commands.json
demo
packages

### chord files
config/
logs/
meta0/
meta1/
metadata/

### tidy
*.log
